<%- include('./includes/headerlog.ejs') %>
    <div class="imagelog"></div>
    <section class="connexion">
        <% if(locals.error) { %>
            <div class="alert alert-danger" role="alert">
                <%= locals.error %>
            </div>
        <% } %>
        <% if(locals.success) { %>
            <div class="alert alert-success" role="alert">
                <%= locals.success %>
            </div>
        <% } %>
        <h3>Cuisine Si</h3>
        <form action="/login" method="post" id="login">
            <div class="for">
                <br>
                <input class="titre" type="email" id="Email" name="email" placeholder="Email" required><br>
                <input class="titre" type="password" id="password" name="password" placeholder="password" required>
                <input type="submit" value="Se connecter" id="Se-connecter" /><br>
                <a class="lien" href="/register">S'inscrire</a>
            </div>
        </form>
    </section>
</body>
</html>