<%- include('./includes/headerlog.ejs') %>
    <section class="page1">
        <h3>Cuisine Si</h3>
        <% if(locals.error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(locals.success) { %>
            <div class="alert alert-success" role="alert">
                <%= locals.success %>
            </div>
        <% } %>
        <form action="/register" method="post" id="example-form">
            <div class="for">
                <br> 
                <input class="titre" type="text" id="Nom" name="nom" placeholder="Nom" Required><br>
                <input class="titre" type="text" id="Prenom" name="prenom" placeholder="Prénom" Required><br>
                <input class="titre" type="email" id="Email" name="email" placeholder="Email" Required><br>
                <input class="titre" type="password" id="password" name="password" placeholder="Password" Required>

                <input type="submit" value="S'inscrire" id="Se-connecter"/><br>
                <a class="lien" href="/login">Se-connecter</a>
            </div>
        </form>
    </section>
</body>
</html>